#box iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 50vh;
    box-shadow: 12px 0 15px -4px 
    rgba(0, 0, 0, 0.250), -12px 0 8px -4px 
    rgba(0, 0, 0, 0.250);
}


#footer img{
    position: absolute;
    right: 0;
    background-color: black;
}
body{
    background-image: url('img/circles.gif');
    background-repeat: no-repeat;
    margin: 0px;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    

}